// Material Design Lite
@import "node_modules/material-design-lite/src/color-definitions";
// Check below url for more available variables in material design
// https://github.com/google/material-design-lite/blob/mdl-1.x/src/_variables.scss

// Use color primarily for emphasis. Choose colors that fit with
// your brand and provide good contrast between visual components.
$color-primary: $palette-indigo-500;
$color-primary-dark: $palette-indigo-700;
$color-accent: $palette-pink-A200;

$layout-header-bg-color: unquote("rgb(#{$color-white})");
$layout-header-text-color: unquote("rgb(#{$palette-grey-800})");

$layout-header-desktop-row-height: 64px;
$layout-header-mobile-row-height: 56px;

$layout-header-desktop-logo-height: 48px;
$layout-header-mobile-logo-height: 40px;
